{% extends 'base.html' %}
{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    {% for game in cart_items %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ game.name }}</td>
        <td>{{ game.price }}</td>
        <td>
            <button type="button" class="btn btn-danger" onclick="removeFromCart('{{ game.id }}')">
                Remove
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if cart_items %}
<button id="initiatePaymentButton" type="button" class="btn btn-lg btn-block btn-outline-success w-50"
        onclick="initiatePayment()"> {{total_price}}
</button>
{% endif %}

{% endblock %}
