{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/img/goods/gta.jpg" class="d-block w-100" alt="GTA">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/goods/CS4.jpg" class="d-block w-100" alt="CS4">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/goods/HOI4.jpg" class="d-block w-100" alt="HOI4">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        {% for game in goods %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img src="{{game.image_url}}" alt="" style="max-width: 75%;">
                </div>
                <div class="row centered">
                    <button id="addToCartButton" type="button" class="btn btn-lg btn-block btn-outline-success w-50"
                            onclick="addToCart('{{ game.id }}')"> В корзину
                    </button>
                    <button type="button" class="btn btn-lg btn-block btn-outline-danger w-50"
                            data-bs-toggle="collapse" data-bs-target="#{{ game.name }}"
                            aria-expanded="false"
                            aria-controls="collapseExample">Ознакомиться
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
